/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
}


.hlavicka {
	background-color: #3498db;
	color: white;
}

a {
	display: block;
	padding: 5px 15px;
	color: white;
	text-decoration: none;
}

a:hover {
	background-color: white;
	color: #3498db;
}

/* ---------------------------------------------------- */
.logo{
	text-transform: uppercase;
	font-weight: 800;
	font-size: 32px;
	padding: 10px;
	
}

.hlavicka{
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.navbar{
	display: flex;
	list-style-type: none;
}